<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register Page</title>
    <link rel="stylesheet" href="{% static 'css/reg.css'%}">
</head>
<body>
    <div class='bg'>
        <div class="container" >
            
            <h2>Register</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="error">
                    {% if user%}
                        {{message}}
                    {% endif %}
                </div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
    
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
    
                <label for="confirmpassword">Confirm Password:</label>
                <input type="password" id="confirmpassword" name="confirmpassword" required>
    
                <div class="buttons">
                    <button type="submit" class="btn">Register</button>
                    <button type="button" class="btn">
                        <a href="{% url 'login'%}" class="text-info">Login</a>
                    </button>
                </div>
            </form>
        </div>
    </div>
  </body>
</html>
